@model BlogMVC.ViewModels.UserViewModel

    @{
        ViewBag.Title = "Details";
    }

    <h2 class="mb-4">Detalles</h2>

    <div class="card mb-4 shadow">
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <div class="bg-light rounded px-2" style="border-left: .25rem solid #007bff">
                        <div class="font-weight-bold">
                            @Html.DisplayNameFor(model => model.FirstName)
                        </div>
                        <p>
                            @Html.DisplayFor(model => model.FirstName)
                        </p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="bg-light rounded px-2" style="border-left: .25rem solid #007bff">
                        <div class="font-weight-bold">
                            @Html.DisplayNameFor(model => model.LastName)
                        </div>
                        <p>
                            @Html.DisplayFor(model => model.LastName)
                        </p>
                    </div>

                </div>
                <div class="col-md-9">
                    <div class="bg-light rounded px-2" style="border-left: .25rem solid #007bff">
                        <div class="font-weight-bold">
                            @Html.DisplayNameFor(model => model.Email)
                        </div>
                        <p>
                            @Html.DisplayFor(model => model.Email)
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="bg-light rounded px-2" style="border-left: .25rem solid #007bff">
                        <div class="font-weight-bold">
                            @Html.DisplayNameFor(model => model.RoleName)
                        </div>
                        <p>
                            @Html.DisplayFor(model => model.RoleName)
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary shadow-sm" })
        @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-secondary shadow-sm" })
    </p>