@model BlogMVC.ViewModels.IndexViewModel

@{
    ViewBag.Title = "Inicio";
}

<div class="card mb-4 shadow">

    @if (Model.posts.Count() > 0)
    {
        <div class="row d-flex align-items-center">
            <div class="col-lg-7">
                <img class="card-img-top p-lg-3" src="~/Uploads/PostImages/@Model.posts.FirstOrDefault().ImagePath" alt="Alternate Text" />
            </div>
            <div class="col-lg-5">
                <div class="card-body">
                    <a href="@Url.Action("Post", new { id = Model.posts.FirstOrDefault().Id })">
                        <h3>@Model.posts.FirstOrDefault().Title</h3>
                    </a>
                    <p>@Model.posts.FirstOrDefault().Description</p>
                    @Html.ActionLink("Ver más >>", "Post", new { id = Model.posts.FirstOrDefault().Id }, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
    }

</div>

<div class="row">
    <div class="col-md-8">
        @if (Model.posts.Count() > 1)
        {
            foreach (var item in Model.posts.Skip(1))
            {
                <div class="card mb-4 shadow">
                    <img src="~/Uploads/PostImages/@Html.DisplayFor(modelItem => item.ImagePath)" class="card-img-top" alt="@Html.DisplayFor(modelItem => item.Title)" />
                    <div class="card-body">
                        <a href="@Url.Action("Post", new { id = item.Id })">
                            <h4>@Html.DisplayFor(modelItem => item.Title)</h4>
                        </a>
                        <p>@Html.DisplayFor(modelItem => item.Description)</p>
                        @Html.ActionLink("Ver más >>", "Post", new { id = item.Id }, new { @class = "btn btn-primary" })
                    </div>
                </div>
            }
        }

    </div>
    <div class="col-md-4">
        @{
            Html.RenderAction("SearchForm");
            Html.RenderAction("CategoriesList");
        }
    </div>
</div>
