@using BlogMVC.Helpers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Blog MVC</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
</head>
<body class="bg-light">
    <div class="navbar navbar-expand-lg navbar-dark bg-primary shadow">
        <div class="container">
            @Html.ActionLink("Blog MVC", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarMenu">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item @Html.IsActive("Home", "Index")">
                        @Html.ActionLink("Inicio", "Index", "Home", null, new { @class = "nav-link" })
                    </li>
                    @if (User.IsInRole("Administrator") || User.IsInRole("Editor"))
                    {
                        <li class="nav-item @Html.IsActive("Posts")">
                            @Html.ActionLink("Posts", "Index", "Posts", null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item @Html.IsActive("Categories")">
                            @Html.ActionLink("Categorías", "Index", "Categories", null, new { @class = "nav-link" })
                        </li>
                    }
                    @if (User.IsInRole("Administrator"))
                    {
                        <li class="nav-item @Html.IsActive("Users")">
                            @Html.ActionLink("Usuarios", "Index", "Users", null, new { @class = "nav-link" })
                        </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container">
        <main class="py-4">
            @RenderBody()
        </main>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Blog MVC</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
